<nav class="mainnav">
    <ol>
        <li><a href="/sample">Sample</a></li>
        <li><a href="/about">About</a></li>
        <li><div>&#10007; Login feature is not active yet.</div></li>
    </ol>
</nav>