
<div class="form-login">
    <form action="/login" method="post">
        <fieldset>
            <legend>Login</legend>
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
        </fieldset>
        {{#login_error}}
            <div class="error">
                <span>{{login_error}}</span>
            </div>
        {{/login_error}}
        <input type="submit" value="Send" />
    </form>
</div>