
<div class="form-login">
    <form>
        <fieldset>
            <legend>Login</legend>
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
        </fieldset>
        <input type="submit" value="Send" />
    </form>
</div>