{{> header }}
<body>
{{> features/login/main }}
    <h1>Bullet Train PHP Sample</h1>

    <div>
        <h2>Stack</h2>
        <ul>
            <li>ngnix</li>
            <li>php7.3-fpm</li>
            <li>mustache</li>
            <li>bullet-train</li>
        </ul>
    </div>
</body>
</html>