{{> generic/header }}
    <div class="main">
        <h2>Feature dashboard</h2>
        <ul>
            {{#feature_login}}{{> features/dashboard/feature }}{{/feature_login}}
            {{#feature_nice_ui}}{{> features/dashboard/feature }}{{/feature_nice_ui}}
        </ul>
        {{#feature_login}}{{#enabled}}
        {{> features/login/login.form }}
        {{/enabled}}{{/feature_login}}
    </div>
{{> generic/footer }}