<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bullet Train PHP Sample</title>
    <link rel="stylesheet" href="/css/style.css">
    {{> features/ui/main }}
</head>
<body>
{{> features/login/main }}
{{> generic/heading }}